<a href="#" class="logo"><img src="images/logo.png" alt></a>
<div class="js-region-logout"></div>
<div class="js-region-weight-plan-container"></div>
<div class="js-region-weigh-in-container"></div>
<div class="js-region-graph-container"></div>
