
<img src="images/logo-large.png" />
<div class="login-inner">
	<p>
		Welcome to <span>Cucumber</span> your peronal online weight tracker.
	</p>

	<div class="login-button-container">
		<span>Login with Facebook </span>
		<div class="js-login-btn"></div>
	</div>

</div>