<div class="weight-plan-header your-progress-header open">
    <h3>
        <span>Your progress</span>
    </h3>
    <span class="border-label rotate">Your progress</span>
</div>

<div class="your-progress open">

    <div class="graph-controls">
        <div class="graph-display">
            <div class="radioset" id="graph-display-control">
                <input type="radio" id="graph-display-mode-1" name="graph-display-mode" checked><label for="graph-display-mode-1">default</label>
                <input type="radio" id="graph-display-mode-2" name="graph-display-mode"><label for="graph-display-mode-2">column</label>
                <input type="radio" id="graph-display-mode-3" name="graph-display-mode"><label for="graph-display-mode-3">spline</label>
            </div>
        </div>
        <button class="button auto-correct danger-button">correct weight plan</button>
        <div class="trend-line-display">
            <span>Show your trend line:</span>
            <div class="pretty-switch">
                <input type="checkbox" id="tend-line-display-switch">
                <label for="tend-line-display-switch">
                    <span>On</span>
                    <span>Off</span>
                </label>
            </div>
        </div>
    </div>

    <p class="finish-date">Finish date: <span>{{finishDate}}</span></p>

    <div class="graph"></div>
</div>
